*{
  box-sizing: border-box;
  /* border: solid 1px rgb(240,240,240); */
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
}

section {
  padding: 2% 10%;
}


/* HEADER */
header a {
  padding: 1rem 1.5rem;
  display: inline-block;
  letter-spacing: 2px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
header a:hover {
  color: black;
  border-bottom: 1px solid;
}

header img {
  display: inline-block;
}

nav a {
  text-decoration: none;
}

header .cc-active {
  color: black;
}
/* this on on the line-card page */
.inline-nav a{
  display: inline-block;
  padding: 0.2rem;
  margin: 0.2rem;
  border-bottom: 1px solid;
}

/* QUICK ABOUT */
.quick-about {
  font-size: 1.3rem;
  line-height: 1.8em;
  min-height: 50vh;
  font-weight: 100;
  margin-top: 5%;
  margin-bottom: 5%;
}

.quick-about span {
  font-weight: bold;
  font-style: italic;
}

/* HERO */

.hero {
  position: relative;
  overflow: hidden;
  min-height: 75vh;
  color: white;
  font-size: 20px;
}

.hero .hero-content {
  z-index: 2;
  position: relative;
}

.hero .hero-content h1 {
  font-weight: 100;
}

.hero .hero-content h2 {
  font-weight: 100;
  font-size: 1.5rem;
}

.hero .flexslider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero .flexslider .slides,
.hero .flexslider .slides li {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero .flexslider img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

/* PRODUCT CATEGORIES */


.product-categories-border {
  border-left: solid 30px white;
  border-right: solid 30px white;
  border-bottom: solid 60px white;
}

.product-categories-wrapper {
  position: relative;
}

.product-categories-wrapper h3 {
  position: relative;
  z-index: 1;
  margin-top: 0;
  margin-bottom: 0;
  padding: 8rem 0;
  font-size: 2rem;
  text-shadow: 0 0 8px rgba(0,0,0,0.22);
  font-weight: 400;
}

.product-categories-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background-color: white;
  opacity: 0.35;
}

.product-categories-kitchen {
  background-image: url('../img/product-categories-kitchen.jpg');
}

.product-categories-bath {
  background-image: url('../img/product-categories-bath.jpg');
}

.product-categories-tile {
  background-image: url('../img/product-categories-tile.jpg');
}

.product-categories-lighting {
  background-image: url('../img/product-categories-lighting.jpg');
}

.product-categories-wardrobe {
  background-image: url('../img/product-categories-wardrobe.jpg');
}

.product-categories-outdoor {
  background-image: url('../img/product-categories-outdoor.jpg');
}

.socialimages {
  max-width: 35px;
}

.clientstoies {
  font-size: 1.3rem;
  line-height: 1.8em;
  min-height: 50vh;
  font-weight: 100;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2% 10%;
}

.locationimages {
  margin:auto;
  display:block;
}

/* HELPERS */
.container {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 1024px;
}

.padded {
  padding: 2% 10%;
}

.padded-3 {
  padding: 0% 3%;
}

.padded_top_5 {
  padding-top: 5%;
}

.padded_sides_10 {
  padding: 10%;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-lightgrey {
  color: #a8a8a8;
}

.textcenter {
  text-align: center;
}

.textright {
  text-align: right;
}

.textleft {
  text-align: left;
}

.bg-cover {
  background-size: cover;
  background-position: center;
}

.bg-contain {
  background-size: contain;
  background-position: center;
}

.bg-image {
    min-height: 50vh;
    background-size: cover;
    background-position: center;
}

.open-sans-light {
  font-weight: 300;

}

.open-sans-normal {
  font-weight: 400;
}

.open-sans-bold {
  font-weight: 700;
}

.letterspacing {
  letter-spacing: .5px;
}

.letterspacing1 {
  letter-spacing: 1px;
}

.icon {
  max-width: 30px;
  margin:auto;
  display:block;
}

.iconservices {
  max-width: 30px;
  margin:auto;
  display:block;
}

.line-height {
line-height: 1.8em;
font-size: 1.3rem;
}

.line-heightonly {
  line-height: 1.8em;
}

.font-size-1-3 {
  font-size: 1.3rem;
}

a.tag {
    display: block;
    margin: 0;
    text-decoration: none;
}

.locations {
  width: 50%;
  margin: auto;
}

footer {
  padding: 2% 5%;
  }

footer form * {
  width: 100%;
  margin: 10px 0px;
  padding: 12px 8px;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  color: grey;
  font-size: 1rem;
  padding: 2% 10%;
  }

footer button {
  background-color: #454545;
  color: white;
  font-weight: bold;
  }

footer textarea {
  min-height: 160px;
  }


  video{
    width: 100%;
    height: 22.5vw;
  }

  /* project page */

  .project-item {
      border: 10px solid white;
  }
