*{
  box-sizing: border-box;
  border: solid 1px black;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
}

/* HEADER */
header a {
  padding: 0 1.5rem;
  display: inline-block;
  letter-spacing: 2px;
  text-decoration: none;
}

header img {
  display: inline-block;
}

/* QUICK ABOUT */
.quick-about {
  font-size: 1.3rem;
  line-height: 1.8em;
  min-height: 50vh;
}

/* PRODUCT CATEGORIES */
.product-categories {
  border-left: solid 120px white;
  border-right: solid 120px white;
}

.product-categories-border {
  border: solid 30px white;
}

.product-categories-wrapper {
  position: relative;
}

.product-categories-wrapper h3 {
  position: relative;
  z-index: 1;
  margin-top: 0;
  margin-bottom: 0;
  padding: 8rem 0;
  font-size: 2rem;
  text-shadow: 0 0 8px rgba(0,0,0,0.22);
  font-weight: 400;
}

.product-categories-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background-color: white;
  opacity: 0.35;
}

.product-categories-kitchen {
  background-image: url('../img/product-categories-kitchen.jpg');
}

.product-categories-bath {
  background-image: url('../img/product-categories-bath.jpg');
}

.product-categories-tile {
  background-image: url('../img/product-categories-tile.jpg');
}

.product-categories-lighting {
  background-image: url('../img/product-categories-lighting.jpg');
}

.product-categories-wardrobe {
  background-image: url('../img/product-categories-wardrobe.jpg');
}

.product-categories-outdoor {
  background-image: url('../img/product-categories-outdoor.jpg');
}

/* HELPERS */
.container {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 1024px;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-lightgrey {
  color: #a8a8a8;
}

.textcenter {
  text-align: center;
}

.textright {
  text-align: right;
}

.textleft {
  text-align: left;
}

.bg-cover {
  background-size: cover;
  background-position: center;
}

.open-sans-light {
  font-weight: 100;
}

.open-sans-bold {
  font-weight: 700;
}
