---
layout: default
appliances:
  - name: BOSH
    url: http://www.bosch.com/
  - name: GAGGENAU
    url: http://www.gaggenau.com/
  - name: MIELE
    url: https://www.mieleusa.com/
  - name: THERMADOR
    url: http://www.thermador.com/
  - name: WOLF/SUBZERO
    url: http://www.subzero-wolf.com/wolF

bathroomaccessories:
  - name: AMBA
    url: http://www.ambaproducts.com/
  - name: DORNBRACHT
    url: https://www.dornbracht.com/
  - name: GINGER
    url: https://www.gingerco.com/
  - name: INFINITY DRAIN
    url: http://infinitydrain.com/
  - name: MR. STEAM
    url: http://www.mrsteam.com/
  - name: MOUNTAIN PLUMBING
    url: http://mountainplumbing.com/
  - name: NEWPORT BRASS
    url: https://www.newportbrass.com/
  - name: PANASONIC
    url: http://business.panasonic.com/

closets:
  - name: SCHMALENBACH
    url: http://eggersmannusa.com/
  - name: WELLBORN
    url: https://www.wellborn.com/

countertops:
  - name: CAMBRIA
    url: https://www.cambriausa.com/
  - name: CEASARSTONE
    url: http://www.caesarstoneus.com/
  - name: DEKTON
    url: http://www.dekton.com/usa
  - name: DENTE CLASSIC STONE
    url: http://www.denteclassicstone.net/
  - name: ETERNIA
    url: http://www.eterniaquartz.com/
  - name: GROTHOUSE LUMBER COMPANY
    url: http://glumber.com/
  - name: SILESTONE
    url: http://www.silestoneusa.com/

hardware:
  - name: ALNO
    url: http://alnoinc.com/
  - name: ATLAS HOMEWARES
    url: http://luxepittsburgh.com/luxe-line-card/ATLASTOTHETRADE.COM
  - name: COLONIAL BRONZE
    url: http://www.colonialbronze.com/
  - name: DEKOR
    url: http://www.dekkorinc.com/
  - name: HAFELE
    url: https://www.hafele.com/us/en/
  - name: INOX
    url: http://www.handlesets.com/
  - name: RICHELIEU
    url: http://www.richelieu.com/US/EN
  - name: SCHAUB
    url: http://schaubandcompany.com/
  - name: SOKO
    url: http://www.sokostudio.com/
  - name: TOPKNOBS
    url: http://www.topknobs%20decor.com/
  - name: UNISON HARDWARE
    url: http://www.unisonhardware.com/

heatedfloors:
  - name: NUHEAT
    url: http://www.nuheat.com/
  - name: WARM UP
    url: http://www.warmup.com/

kitchenaccessories:
    - name: DORNBRACHT
      url: https://www.dornbracht.com/
    - name: EGGERSMANN
      url: http://eggersmannusa.com/
    - name: HAFELE
      url: https://www.hafele.com/us/en/
    - name: MOUNTAIN PLUMBING
      url: http://mountainplumbing.com/
    - name: NEWPORT BRASS
      url: https://www.newportbrass.com/
    - name: RICHELIEU
      url: https://www.richelieu.com/us/en/

kitchencabinets:
    - name: DUTCH MADE
      url: http://dutchmade.com/
    - name: EGGERSMANN
      url: http://eggersmannusa.com/
    - name: GREENFIELD
      url: http://www.greenfieldcabnetry.com/
    - name: KITCHEN CRAFT
      url: http://kitchencraft.com/
    - name: SITELINE
      url: http://sitelinecabinetry.com/
    - name: WELLBORN CABINETS
      url: http://wellborn.com/

kitchensinks:
    - name: JULIEN
      url: http://www.julien.ca/
    - name: LENOVA
      url: http://www.lenova.com/
    - name: THE GALLEY
      url: http://thegalley.com/

lighting:
    - name: BRUCK
      url: http://brucklighting.com/
    - name: BULBRITE
      url: http://bulbrite.com/
    - name: CORBETT
      url: http://www.corbettlighting.com/
    - name: EDGE LIGHTING
      url: http://www.edgelighting.com/
    - name: FANIMATION
      url: http://.fanimation.com/
    - name: FINE ARTLAMPS
      url: http://.fineartlamps.com/CHANDELIERS
    - name: HAMMERTON
      url: http://hammerton.com/
    - name: HUDSON VALLEY
      url: http://hudsonvalleylighting.com/
    - name: LEGRAND – ADOURNE
      url: https://www.legrand.us/adorne/products/outlets.aspx
    - name: MITZI
      url: https://mitzi.hudsonvalleylighting.com/
    - name: MODERN FAN CO.
      url: http://modernfan.com/
    - name: MODERN FORMS
      url: http://modernforms.com/
    - name: OGGETTI
      url: http://oggetti.com/
    - name: SCHONBEK
      url: http://.schonbek.com/
    - name: SONNEMAN
      url: http://sonnemanwayoflight.com/
    - name: SWAROVSKI
      url: http://swarovski-lighting.com/
    - name: TOM DIXON
      url: http://tomdixon.net/US
    - name: TROY
      url: http://troylighting.lightingnewyork.com/
    - name: WAC LIGHTING
      url: http://waclighting.com/

mirrorsandmedicinecabinets:
    - name: ADAPTATIONS K&Y
      url: http://www.aptations.com/
    - name: ELECTRIC MIRROR
      url: http://www.electricmirror.com/
    - name: GINGER
      url: http://www.gingerco.com/
    - name: GLASS CRAFTERS
      url: http://www.glasscraftersinc.com/
    - name: WETSTYLE
      url:  http://www.wetstyle.ca/

plumbingfixtures:
    - name: DORNBRACHT
      url: http://dornbracht.com/
    - name: NEWPORT BRASS
      url: http://.newportbrass.com/
    - name: RIOBEL
      url: http://riobel.com/
    - name: MR. STEAM
      url: http://www.mrsteam.com/

showerdoorsandbases:
    - name: FLEURCO
      url: http://www.fleurco.com/
    - name: WETSTYLE
      url: http://www.wetstyle.ca/

tile:
    - name: ALLISON EDEN STUDIOS
      url: http://www.allisoneden.com/
    - name: ALTURA STONE
      url: http://www.alturastoneandtile.com/
    - name: ARLEY WHOLESALE
      url: http://www.arleywholesale.com/
    - name: BRONZEWORKS
      url: http://www.bronzeworks.com/
    - name: CASTELLI MARBLE
      url: http://%20www.castellimarble.com/
    - name: CLEFTSTONE
      url: http://www.cleftstoneworks.com/
    - name: GLAZZIO TILE
      url: http://www.glazziotiles.com/
    - name: ISLAND STONE
      url: http://www.islandstone.com/us/
    - name: MOSAIQUE SURFACE
      url: http://www.mosaiquesurface.com/
    - name: NEW RAVENNA
      url: http://www.newrvenna.com/
    - name: OCEANSIDE TILE
      url: http://www.glasstile.com/
    - name: PORCELANOSA
      url: http://www.porcelanosa-usa.com/
    - name: RED ROCK TILE
      url: http://www.redrocktileworks.com/
    - name: RENAISSANCE TILE
      url: http://www.ren-tile.com/
    - name: SICIS
      url: http://www.sicis.com/
    - name: SOMMERTILE
      url: http://www.sommertile.com/
    - name: STUDIO L GLASSWORKS
      url: http://www.studioglassworks.com/
    - name: THASSOS
      url: http://www.thassos.com/
    - name: TREND USA
      url: http://www.trend-group.com/

toilets:
    - name: GEBERIT
      url: http://www.geberitnorthamerica.com/
    - name: ICERA
      url: https://icerausa.com/
    - name: LAUFEN
      url: http://www.us.laufen.com/en
    - name: TOTO
      url: https://www.totousa.com/

tubs:
    - name: HYDRO SYSTEMS
      url: https://hydrosystem.com/
    - name: KALDEWEI
      url: https://www.kaldewei.us/
    - name: WETSYLE
      url: http://www.wetstyle.ca/

vanitiesandsinks:
    - name: ALAPE
      url: http://www.alape.com/
    - name: CASTELLI MARBLE
      url: http://www.castellimarble.com/
    - name: LAUFEN
      url: http://http//www.us.laufen.com/en
    - name: LENOVA
      url: http://www.lenova.com/
    - name: MADELI
      url: http://www.madeli.com/
    - name: NATIVE TRAILS
      url: http://www.nativetrails.net/
    - name: NEOMETRO
      url: http://www.neo-metro.com/
    - name: RONBOW
      url: http://www.ronbow.com/
    - name: STONE FOREST
      url: http://www.stoneforest.com/
    - name: THE FURNITURE GUILD
      url: http://www.the%20furnitureguild.com/
    - name: VITRFORM
      url: http://www.vitraform.com/
    - name: WETSTYLE
      url: http://www.wetstyle.ca/
---
   <section class="grid">
     <div class="col-12">
       <h2> LINE CARD</h2>
     </div>
   </section>


  <section class="grid">
   <div class="col-12 linecardlinkheadings">
     <h3 class="open-sans-light"> APPLIANCES </h3>
  </div>
  {% for item in page.appliances %}
    <div class="col-2 textcenter text-lightgrey linecardlinks">
      <a href="{{ item.url }}" target="_blank">
        <h4>{{ item.name }}</h4>
      </a>
    </div>
  {% endfor %}
  </section>


  <section class="grid">
   <div class="col-12 linecardlinkheadings">
     <h3> BATHROOM ACCESSORIES </h3>
  </div>
  {% for item in page.bathroomaccessories %}
    <div class="col-2 textcenter text-lightgrey">
      <a href="{{ item.url }}" target="_blank">
        <h4>{{ item.name }}</h4>
      </a>
    </div>
  {% endfor %}
  </section>


  <section class="grid">
   <div class="col-12">
     <h3> CLOSETS </h3>
  </div>
  {% for item in page.closets %}
    <div class="col-2 textcenter text-lightgrey">
      <a href="{{ item.url }}" target="_blank">
        <h4>{{ item.name }}</h4>
      </a>
    </div>
  {% endfor %}
  </section>


  <section class="grid">
   <div class="col-12">
     <h3> COUNTERTOPS </h3>
  </div>
  {% for item in page.countertops %}
    <div class="col-2 textcenter text-lightgrey">
      <a href="{{ item.url }}" target="_blank">
        <h4>{{ item.name }}</h4>
      </a>
    </div>
  {% endfor %}
  </section>


  <section class="grid">
   <div class="col-12">
     <h3> HARDWARE </h3>
  </div>
  {% for item in page.hardware %}
    <div class="col-2 textcenter text-lightgrey">
      <a href="{{ item.url }}" target="_blank">
        <h4>{{ item.name }}</h4>
      </a>
    </div>
  {% endfor %}
  </section>


  <section class="grid">
   <div class="col-12">
     <h3> HEATED FLOORS </h3>
  </div>
  {% for item in page.heatedfloors %}
    <div class="col-3 textcenter text-lightgrey">
      <a href="{{ item.url }}" target="_blank">
        <h4>{{ item.name }}</h4>
      </a>
    </div>
  {% endfor %}
  </section>


  <section class="grid">
   <div class="col-12">
     <h3> KITCHEN ACCESSORIES </h3>
  </div>
  {% for item in page.kitchenaccessories %}
    <div class="col-2 textcenter text-lightgrey">
      <a href="{{ item.url }}" target="_blank">
        <h4>{{ item.name }}</h4>
      </a>
    </div>
  {% endfor %}
  </section>


  <section class="grid">
   <div class="col-12">
     <h3> KITCHEN CABINETS </h3>
  </div>
  {% for item in page.kitchencabinets %}
    <div class="col-2 textcenter text-lightgrey">
      <a href="{{ item.url }}" target="_blank">
        <h4>{{ item.name }}</h4>
      </a>
    </div>
  {% endfor %}
  </section>


  <section class="grid">
   <div class="col-12">
     <h3> KITCHEN SINKS </h3>
  </div>
  {% for item in page.kitchensinks %}
    <div class="col-2 textcenter text-lightgrey">
      <a href="{{ item.url }}" target="_blank">
        <h4>{{ item.name }}</h4>
      </a>
    </div>
  {% endfor %}
  </section>


  <section class="grid">
   <div class="col-12">
     <h3> LIGHTING </h3>
  </div>
  {% for item in page.lighting %}
    <div class="col-2 textcenter text-lightgrey">
      <a href="{{ item.url }}" target="_blank">
        <h4>{{ item.name }}</h4>
      </a>
    </div>
  {% endfor %}
  </section>


  <section class="grid">
   <div class="col-12">
     <h3> MIRRORS & MEDICINE CABINETS </h3>
  </div>
  {% for item in page.mirrorsandmedicinecabinets %}
    <div class="col-2 textcenter text-lightgrey">
      <a href="{{ item.url }}" target="_blank">
        <h4>{{ item.name }}</h4>
      </a>
    </div>
  {% endfor %}
  </section>


  <section class="grid">
   <div class="col-12">
     <h3> PLUMBING FIXTURES </h3>
  </div>
  {% for item in page.plumbingfixtures %}
    <div class="col-2 textcenter text-lightgrey">
      <a href="{{ item.url }}" target="_blank">
        <h4>{{ item.name }}</h4>
      </a>
    </div>
  {% endfor %}
  </section>


  <section class="grid">
   <div class="col-12">
     <h3> SHOWER DOORS & BASES </h3>
  </div>
  {% for item in page.showerdoorsandbases %}
    <div class="col-2 textcenter text-lightgrey">
      <a href="{{ item.url }}" target="_blank">
        <h4>{{ item.name }}</h4>
      </a>
    </div>
  {% endfor %}
  </section>


  <section class="grid">
   <div class="col-12">
     <h3> TILE </h3>
  </div>
  {% for item in page.tile %}
    <div class="col-2 textcenter text-lightgrey">
      <a href="{{ item.url }}" target="_blank">
        <h4>{{ item.name }}</h4>
      </a>
    </div>
  {% endfor %}
  </section>


  <section class="grid">
   <div class="col-12">
     <h3> TOILETS </h3>
  </div>
  {% for item in page.toilets %}
    <div class="col-2 textcenter text-lightgrey">
      <a href="{{ item.url }}" target="_blank">
        <h4>{{ item.name }}</h4>
      </a>
    </div>
  {% endfor %}
  </section>


  <section class="grid">
   <div class="col-12">
     <h3> TUBS </h3>
  </div>
  {% for item in page.tubs %}
    <div class="col-2 textcenter text-lightgrey">
      <a href="{{ item.url }}" target="_blank">
        <h4>{{ item.name }}</h4>
      </a>
    </div>
  {% endfor %}
  </section>


  <section class="grid">
   <div class="col-12">
     <h3> VANITIES & SINKS </h3>
  </div>
  {% for item in page.vanitiesandsinks %}
    <div class="col-2 textcenter text-lightgrey">
      <a href="{{ item.url }}" target="_blank">
        <h4>{{ item.name }}</h4>
      </a>
    </div>
  {% endfor %}
  </section>
